[submodule "e2e-tests/quobyte-csi-pod-killer"]
	path = e2e-tests/quobyte-csi-pod-killer
	url = git@github.com:quobyte/quobyte-csi-pod-killer.git
[submodule "e2e-tests/quobyte-k8s-resources"]
	path = e2e-tests/quobyte-k8s-resources
	url = git@github.com:quobyte/quobyte-k8s-resources.git
	branch = main
